.message{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon_size{
    height: 100px;
    width: 100px;
}
.error{
    background-image: url(./assets/Image/golang-icon.png);
}

.btc{
    background-image: url(./assets/Image/btc-icon.png);
}

.eth{
    background-image: url(./assets/Image/eth-icon.svg);
}

.bch{
    background-image: url(./assets/Image/bch-icon.png);
}

.ltc{
    background-image: url(./assets/Image/ltc-icon.svg);
}

.doge{
    background-image: url(./assets/Image/doge-icon.svg);
}

.xrp{
    background-image: url(./assets/Image/xrp-icon.svg);
}

.xem{
    background-image: url(./assets/Image/xem-icon.svg);
}

.xlm{
    background-image: url(./assets/Image/xlm-icon.svg);
}

.bat{
    background-image: url(./assets/Image/bat-icon.svg);
}

.omg{
    background-image: url(./assets/Image/omg-icon.svg);
}

.xtz{
    background-image: url(./assets/Image/xtz-icon.svg);
}

.qtum{
    background-image: url(./assets/Image/qtum-icon.svg);
}

.enj{
    background-image: url(./assets/Image/enj-icon.svg);
}

.dot{
    background-image: url(./assets/Image/dot-icon.svg);
}

.atom{
    background-image: url(./assets/Image/atom-icon.png);
}

.xym{
    background-image: url(./assets/Image/xym-icon.png);
}

.mona{
    background-image: url(./assets/Image/mona-icon.svg);
}

.ada{
    background-image: url(./assets/Image/ada-icon.png);
}

.mkr{
    background-image: url(./assets/Image/mkr-icon.svg);
}

.dai{
    background-image: url(./assets/Image/dai-icon.svg);
}

.link{
    background-image: url(./assets/Image/link-icon.png);
}

.sol{
    background-image: url(./assets/Image/sol-icon.png);
}