.message{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inner-container{
    display: flex;
    flex-direction: column;
}

.inner-container-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button{
    margin: 0 400px;
}

.border-block{
    border-block-width: inherit;
}

.icon_size{
    height: 100px;
    width: 100px;
    margin: 10px 0px
}

.back-image{
    background-image: url(./assets/Image/back-image.avif);
    background-size: contain;
}

.error{
    background-image: url(./assets/Image/golang-icon.png);
}

.btc{
    background-image: url(./assets/Image/btc-icon.png);
}

.eth{
    background-image: url(./assets/Image/eth-icon.png);
}

.bch{
    background-image: url(./assets/Image/bch-icon.png);
}

.ltc{
    background-image: url(./assets/Image/ltc-icon.png);
}

.doge{
    background-image: url(./assets/Image/doge-icon.png);
}

.xrp{
    background-image: url(./assets/Image/xrp-icon.png);
}

.xem{
    background-image: url(./assets/Image/xem-icon.png);
}

.xlm{
    background-image: url(./assets/Image/xlm-icon.png);
}

.bat{
    background-image: url(./assets/Image/bat-icon.png);
}

.omg{
    background-image: url(./assets/Image/omg-icon.png);
}

.xtz{
    background-image: url(./assets/Image/xtz-icon.png);
}

.qtum{
    background-image: url(./assets/Image/qtum-icon.png);
}

.enj{
    background-image: url(./assets/Image/enj-icon.png);
}

.dot{
    background-image: url(./assets/Image/dot-icon.png);
}

.atom{
    background-image: url(./assets/Image/atom-icon.png);
}

.xym{
    background-image: url(./assets/Image/xym-icon.png);
}

.mona{
    background-image: url(./assets/Image/mona-icon.png);
}

.ada{
    background-image: url(./assets/Image/ada-icon.png);
}

.mkr{
    background-image: url(./assets/Image/mkr-icon.png);
}

.dai{
    background-image: url(./assets/Image/dai-icon.png);
}

.link{
    background-image: url(./assets/Image/link-icon.png);
}

.sol{
    background-image: url(./assets/Image/sol-icon.png);
}
